.login {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_header {
    margin-bottom: 3%;
}

.login_submit {
    width: 100%;
    border-color: rgb(164, 121, 102);
    background-color: rgb(164, 121, 102);
}

.login_submit:hover {
    border-color: #873e23;
    background-color: #873e23;
}

.login_checkbox {
    list-style: none;
    padding: 0;
}
